{%load static%}

<!DOCTYPE html>
<html>
<head>
	<title>Timetable Scheduler - Viewing Info</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
	<style>
		body{
		  background-color: #F2D4D6;
		}
	  </style>
</head>
<body>
	<img class="image" src="{% static 'LOGO.png' %}">

	<div class="button-container">
	
		    <h1>Tables in the Scheduler app:</h1>
			{% for table in tables %}
			<a href="{% url 'table_detail' table_name=table %}">
			  <button class="button">{{ table }}</button>
			</a>
		  	{% endfor %}


		<a class="button" href="homepage">Return To Home</a>
	</div>
</body>
</html>


